{{ void(this.beginBlock('block1')) }}
<div class="page-header page-header-small">
  <div class="page-header-image" data-parallax="true" style="background-image: url('../img/about/sinterice-4.jpg');  background-position: center 25% !important; ">
  </div>
  <div class="container">
    <div class="content-center">
      <h1 class="title"> Sklonište za nezbrinute životinje</h1>
    </div>
  </div>
</div>
{{ void(this.endBlock()) }}
{{ void(this.beginBlock('content')) }}
<div class="wrapper">
  <div class="section section-about-us">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h2 class="title">Tko smo mi?</h2>
          <h5 class="description">Mi smo tri obične cure koje pokušavaju pomoći napuštenim, ostavljenim, zlostavljanim životinjama na području Koprivnice i okolice. Nismo udruga i nemamo azil, odnosno smještajni kapacitet za zbrinjavanje životinja, ali pokušavamo naći alternativu.</h5>
        </div>
      </div>
      <div class="separator separator-primary"></div>
      <div class="section-story-overview">
        <div class="row">
          <div class="col-md-6">
            <div class="image-container image-left" style="background-image: url('../img/about/sinterice-3.jpg')">
              <!-- First image on the left side -->
              <p class="blockquote blockquote-primary">"Over the span of the satellite record, Arctic sea ice has been declining significantly, while sea ice in the Antarctichas increased very slightly"
                <br>
                <br>
                <small>-NOAA</small>
              </p>
            </div>
            <!-- Second image on the left side of the article -->
            <div class="image-container" style="background-image: url('../img/about/sinterice-2.jpg')"></div>
          </div>
          <div class="col-md-5">
            <!-- First image on the right side, above the article -->
            <div class="image-container image-right" style="background-image: url('../img/about/sinterice-1.jpg')"></div>
            <h3>So what does the new record for the lowest level of winter ice actually mean</h3>
            <p>The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that process will continue whatever happens with climate change. Even if the Arctic continues to be one of the fastest-warming regions of the world,
              it will always be plunged into bitterly cold polar dark every winter. And year-by-year, for all kinds of natural reasons, there’s huge variety of the state of the ice.
            </p>
            <p>
              For a start, it does not automatically follow that a record amount of ice will melt this summer. More important for determining the size of the annual thaw is the state of the weather as the midnight sun approaches and temperatures rise. But over the
              more than 30 years of satellite records, scientists have observed a clear pattern of decline, decade-by-decade.
            </p>
            <p>The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that process will continue whatever happens with climate change. Even if the Arctic continues to be one of the fastest-warming regions of the world,
              it will always be plunged into bitterly cold polar dark every winter. And year-by-year, for all kinds of natural reasons, there’s huge variety of the state of the ice.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section section-contact-us text-center">
    <div class="container">
      <h2 class="title">Want to work with us?</h2>
      <p class="description">Your project is very important to us.</p>
      <div class="row">
        <div class="col-lg-6 text-center col-md-8 ml-auto mr-auto">
          <div class="input-group input-lg">
            <span class="input-group-addon">
                                <i class="now-ui-icons users_circle-08"></i>
                            </span>
            <input type="text" class="form-control" placeholder="First Name...">
          </div>
          <div class="input-group input-lg">
            <span class="input-group-addon">
                                <i class="now-ui-icons ui-1_email-85"></i>
                            </span>
            <input type="text" class="form-control" placeholder="Email...">
          </div>
          <div class="textarea-container">
            <textarea class="form-control" name="name" rows="4" cols="80" placeholder="Type a message..."></textarea>
          </div>
          <div class="send-button">
            <a href="#pablo" class="btn btn-primary btn-round btn-block btn-lg">Send Message</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ void(this.endBlock()) }}
