{{ void(this.beginBlock('block1')) }}
<div class="page-header page-header-small">
  <div class="page-header-image" data-parallax="true" style="background-image: url('/img/about/sinterice-4.jpg');  background-position: center 25% !important; ">
  </div>
  <div class="container">
    <div class="content-center">
      <h1 class="title"> Sklonište za nezbrinute životinje</h1>
    </div>
  </div>
</div>
{{ void(this.endBlock()) }}

{{ void(this.beginBlock('content')) }}
<div class="section section-basic">
  <div class="container">
    <div class="row ">
      <div class="col-md-12">
        <h4 class="text-center title"> Kako možete pomoći? </h4>
      </div>
      <div class="col-md-4">
        <h4 class="text-center title"> Donacije </h4>
        <div class="text-center" style="padding-bottom:30px;">
          <img class="n-logo" src="img/donate/3.jpg" alt=" " height="250px">
        </div>

        <p>
          Budite izravan sudionik u spašavanju života napaćenih životinja koja samo uz vašu i našu pomoć mogu preživjeti.
        </p>
      </div>
      <div class="col-md-4">
        <h4 class="text-center title"> Volontiranje </h4>
        <div class="text-center" style="padding-bottom:30px;">
          <img class="n-logo" src="img/donate/1.png" alt=" " height="250px">
        </div>
        <p>
          Volonteri svaki dan obilaze naše štićenike, vode brigu o životinjama smještenim u hotelima i domovima…
        </p>

      </div>
      <div class="col-md-4">
        <h4 class="text-center title"> Sponzorstva </h4>
        <div class="text-center" style="padding-bottom:30px;">
          <img class="n-logo" src="img/donate/2.jpg" alt=" " height="250px">
        </div>
        <p>
          Budite izravan sudionik u spašavanju života napaćene životinje koje ste odlučili sponzorirati.
        </p>
      </div>
    </div>
  </div>
</div>
{{ void(this.endBlock()) }}
