{{ void(this.beginBlock('block1')) }}
<div class="page-header page-header-small">
  <div class="page-header-image" data-parallax="true" style="background-image: url('/img/about/sinterice-4.jpg');  background-position: center 25% !important; ">
  </div>
  <div class="container">
    <div class="content-center">
      <h1 class="title"> Često postavljana pitanja</h1>
    </div>
  </div>
</div>
{{ void(this.endBlock()) }}

{{ void(this.beginBlock('content')) }}
<div class="container ">
  <div class="row ">
    <div class="col-md-12 ">
<div id="accordion" role="tablist">
  <div class="card">
    <div class="card-header" role="tab" id="headingOne">
      <h5 class="mb-0">
        <a data-toggle="collapse" href="#collapseOne" role="button" aria-expanded="true" aria-controls="collapseOne">
          Gdje se nalaze životinje?
        </a>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        Šinterice dobrog srca nemaju poseban prostor predviđen za smještaj životinja već se one nalaze na raznim lokacijama u privatnim kućama kod volontera.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="headingTwo">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseTwo" role="button" aria-expanded="false" aria-controls="collapseTwo">
          Koje uvjete moram zadovoljavati kako bi udomio životinju?
        </a>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        Svi uvjeti su navedeni u Ugovoru o udomljavanju koji možete vidjeti na našoj stranici.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="headingThree">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseThree" role="button" aria-expanded="false" aria-controls="collapseThree">
          Zašto kastrirati/sterilizirati psa odnosno mačku?
        </a>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        Sterilizacijom i kastracijom se rješava problem „ neželjenih“  legla što direktno doprinosi misiji smanjenja broja napuštenih životinja. Također, umanjuje se vjerojatnost pojave bolesti (infekcija prostate, gnojna upala maternice, lažni graviditet kuja, tumori na mliječnim žlijezdama te tumori na jajnicima i maternici psa). Osim navedenog, smanjuje se agresivnost i bježanje pasa za vrijeme tjeranja te se povećava privrženost vlasniku.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="headingFour">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseFour" role="button" aria-expanded="false" aria-controls="collapseFour">
          Kada kastrirati odnosno sterilizirati psa?
        </a>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordion">
      <div class="card-body">
        Ukoliko se radi o psu koji će kada odraste biti manjeg rasta, do 10kg, kastracija odnosno sterilizacija se preporuča obaviti najranije sa 6 mjeseci, dok se pse koji će biti većeg rasta preporuča operirati najranije sa 9 mjeseci.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="headingFive">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseFive" role="button" aria-expanded="false" aria-controls="collapseFive">
          Kako olakšati životinji selidbu u novi dom i što možemo očekivati?
        </a>
      </h5>
    </div>
    <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive" data-parent="#accordion">
      <div class="card-body">
        Selidba životinje s privremenog smještaja u novi dom je stresan proces koji može preplašiti životinju. Rezultat toga može biti povučenost, mekana stolica, mokrenje u zatvorenom prostoru i slična ponašanja. Kako bi umanjili stres i ubrzali prilagodbu, p reporuča se ponjeti što više njenih stvari (dekica, zdjelica, igračke), postaviti jasna pravila i što prije uhodati dvnevnu rutinu.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="headingSix">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseSix" role="button" aria-expanded="false" aria-controls="collapseSix">
          Kako odabrati životinju?
        </a>
      </h5>
    </div>
    <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingSix" data-parent="#accordion">
      <div class="card-body">
        Svim udomiteljima želimo savjetovati da pri udomljavanju odaberu životinje koje karakterno odgovaraju i njihovom karkteru, obavezama i životnom prostoru. Primjerice, ukoliko ste često odustni i nemate mnogo slobodnog vremena preporuča se odabrati mirnije životinje koje ne zahtjevaju češte šetnje i igru.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="headingSeven">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseSeven" role="button" aria-expanded="false" aria-controls="collapseSeven  ">
          Dvije ili jedna životinja?
        </a>
      </h5>
    </div>
    <div id="collapseSeven" class="collapse" role="tabpanel" aria-labelledby="headingSeven" data-parent="#accordion">
      <div class="card-body">
        Iz vlastitog iskutva možemo reći da su životinje sretnije i manje zahtjevne kada su u paru. Životinje vole provoditi vrijeme, igrati se i spavati s pripadnicima iste vrste. Također, manje će im biti stresan period kada ste odsutni. Ukoliko imate dovoljno porostora i financija svkako preporučamo da imate dvije životinje.
      </div>
    </div>
  </div>
</div>
</div>
</div>

</div>


{{ void(this.endBlock()) }}
